In [3]:
pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from ipython-sql) (3.7.0)
Requirement already satisfied: ipython in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from ipython-sql) (8.13.2)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from ipython-sql) (2.0.15)
Requirement already satisfied: sqlparse in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: six in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.6.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.2)
Requirement already satisfied: backcall in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (0.17.2)
Requirement already satisfied: matplotlib-inline in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: pickleshare in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (3.0.38)
Requirement already satisfied: pygments>=2.4.0 in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (0.6.2)
Requirement already satisfied: traitlets>=5 in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (5.9.0)
Requirement already satisfied: colorama in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from prettytable->ipython-sql) (0.2.6)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.7.1)
Requirement already satisfied: executing>=1.2.0 in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from stack-data->ipython->ipython-sql) (1.2.0)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from stack-data->ipython->ipython-sql) (2.2.1)
Requirement already satisfied: pure-eval in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [5]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [7]:
%reload_ext sql

In [9]:
%config SqlMagic.autopandas=True

In [11]:
import MySQLdb

ModuleNotFoundError: No module named 'MySQLdb'

In [22]:
import pandas as pd  # - with datafame
from sqlalchemy import create_engine # - create connection to database
import pymysql # package for working with  MySQL

In [24]:
user = "root" # - your login
password = "ajit" # - your password (if you don't know, ask your IT Guy ;)
host = "127.0.0.1" # - it's ip address , where database is located 
db_name = 'virat' # database name
port = 3306 # port of ip adress (by default is 3306 for MySQL)

#we make connection to our MySQL Database
sqlEngine       = create_engine(f'mysql+pymysql://{user}:{password}@{host}/{db_name}', pool_recycle=port)
dbConnection    = sqlEngine.connect()

In [29]:
sql="select * from virat.stat";

In [30]:
pf=pd.read_sql(sql,dbConnection)

In [31]:
pf

     index  runs  opponent        ground       date match  Match_No  total
0        0    12  SriLanka      Dambulla  18Aug2008   ODI         1     12
1        1    37  SriLanka      Dambulla  20Aug2008   ODI         2     49
2        2    25  SriLanka  Colombo(RPS)  24Aug2008   ODI         3     74
3        3    54  SriLanka  Colombo(RPS)  27Aug2008   ODI         4    128
4        4    31  SriLanka  Colombo(RPS)  29Aug2008   ODI         5    159
..     ...   ...       ...           ...        ...   ...       ...    ...
511    535    11   England    Birmingham   1Jul2022  Test       512  23661
512    536    20   England    Birmingham   1Jul2022  Test       513  23681
513    537     1   England    Birmingham   9Jul2022   T20       514  23682
514    538    11   England    Nottingham  10Jul2022   T20       515  23693
515    539    16   England        Lord's  14Jul2022   ODI       516  23709

[516 rows x 8 columns]